/* styles/LandingPage1.module.css */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--bg-color); /* Background color set to black */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
}

.logo span {
    color: var(--main-color);
}

.header .navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
    margin: 0 1rem;
}

.header .navbar a#Home {
    color: var(--main-color);
    text-decoration: underline;
}

.header .navbar a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.home {
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.home .content {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.home .content h1 {
    font-size: 4rem;
    color: var(--text-color);
}

.home .content h1 span {
    color: var(--main-color);
}

.home .content h3 {
    font-size: 2rem;
    color: var(--text-color);
}

.home .content p {
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.5;
    width: 50rem;
    margin-bottom: 1rem;
    text-align: left;
}

.home .content .flex-btn {
    display: inline-block;
}

.home .content .flex-btn .btn {
    color: var(--main-color);
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: .2rem solid var(--main-color);
    border-radius: 3rem;
}

.home .content .flex-btn .btn.hire {
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
}

.home .content .flex-btn .btn:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    box-shadow: .1rem .5rem 1rem var(--main-color);
}

.home .content .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.home .content .icons i {
    color: var(--main-color);
    font-size: 2rem;
    border: .2rem solid var(--main-color);
    padding: 1rem;
    border-radius: 50%;
}

.home .content .icons i:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: .1rem .5rem 1rem var(--main-color);
}

.home img {
    border-radius: 50%;
    height: 42rem;
    width: 42rem;
    object-fit: cover;
    box-shadow: 0 0 2.5rem var(--main-color);
}

.home img:hover {
    box-shadow: 0 0 2.5rem var(--main-color),
        0 0 5rem var(--main-color),
        0 0 10rem var(--main-color);
}

.header .navbar.active {
    display: grid;
}

.header .navbar {
    position: absolute;
    top: 7rem;
    display: none;
    text-align: center;
    justify-content: center;
    background-color: var(--main-color);
    width: 100%;
    gap: 2rem;
    padding: 1rem;
}

.header .navbar a#Home {
    color: var(--text-color);
    text-decoration: none;
}

.header .navbar a {
    width: 100%;
    padding: 1rem;
}

.header .navbar a:hover,
.header .navbar a#Home:hover {
    background-color: var(--white);
    color: var(--main-color);
    text-decoration: none;
}

.menu i {
    display: flex;
}
